# Server & API Framework
fastapi
uvicorn
python-multipart

# Database & Environment
pymongo
python-dotenv

# Authentication & Tokens
passlib
bcrypt
python-jose[cryptography]

# Data Processing
pandas
numpy
openpyxl

# Web Scraping & Ingestion
requests
beautifulsoup4

# Machine Learning & AI
sentence-transformers
torch
scikit-learn
google-genai